body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    background-color: #1f1f1f;
    padding: 2rem;
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar h1 {
    color: #ffffff;
    margin-bottom: 2rem;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar ul li {
    margin: 1rem 0;
    text-align: center;
}

.sidebar ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 2px solid #05932e;
    background-color: #ffffff;
    border-radius: 50%;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar ul li a img {
    width: 50%;
    height: 50%;
}

.sidebar ul li a:hover {
    background-color: #9a0000;
    color: #1f1f1f;
}

.content {
    flex: 1;
    overflow-y: auto;
}

section {
    padding: 3rem 2rem;
    margin: 2rem;
    background-color: #2a2a2a;
    border-radius: 10px;
    position: relative;
}

.parallax {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.parallax-inner {
    background: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 10px;
}

#about {
    background-image: url('https://images.wallpaperscraft.com/image/single/beautiful_scenery_mountains_lake_93318_800x600.jpg');
}

#contact {
    background-image: url('https://images.wallpaperscraft.com/image/single/beautiful_scenery_mountains_lake_93318_800x600.jpg');
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 1rem;
}

form input, form textarea {
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #3a3a3a;
    color: #ffffff;
}

form button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: #1f1f1f;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

form button:hover {
    background-color: #1f1f1f;
    color: #ffffff;
}

body::-webkit-scrollbar {
    display: none;
}
